@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Signika+Negative:wght@500&display=swap");

:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-family: rubik;

  /* Color */
  --light-blue: hsl(238, 40%, 52%);
  --dark-blue: hsl(212, 24%, 26%);
  --soft-red: hsl(358, 79%, 66%);
  --pale-red: hsl(357, 100%, 86%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* radius */
  --rd-small: 0.5rem;
  --rd-medium: 1rem;
  --rd-large: 2rem;

  /* gap */
  --gap-xsmall: 0.75rem;
  --gap-small: 1rem;
  --gap-medium: 2rem;

  /* padding */
  --pd-small: 1rem;
  --pd-medium: 2rem;
  --pd-large: 3rem;

  /* margin */
  --mg-small: 1rem;
  --mg-medium: 2rem;
  --mg-large: 3rem;

  /* box-shadow */
  --shadow-light: 0.1rem 0.2rem 0.5rem hsla(0, 0%, 0%, 0.1);
}

html {
  font-size: 16px;
  color: var(--grayish-blue);
  background-color: var(--very-light-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
